# ***Task : Session 1***

Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!


**Q1 :- Print the given strings as per stated format**

In [3]:
#given string
"Data" "science" "mantorship" "program"
"By" "campus" "X"

'BycampusX'

In [4]:
Data-Science-Mentorship-Program-started-By-CampusX

NameError: name 'Data' is not defined

In [7]:
#concept --> [Seperator and end]
print("Data","Science","Mentorship","Program",end="-started-",sep="-")
print("By","CampusX",sep="-")

Data-Science-Mentorship-Program-started-By-CampusX

### Q2. WAP that will be convert celcious value into farenheite

In [10]:
c=float(input("enter temperature in celcious: "))
ans=((9/5)*c)+32
ans

enter temperature in celcious: 55

131.0

##Q3. Take two numbers as input from the user . WAP to swap the number without using any special python syntax

In [5]:
import math
a=int(input("enter first number: "))
b=int(input("enter second number: "))
a,b=b,a
print("a = ",a)
print("b = ",b)

enter first number: 5
enter second number: 6
a =  6
b =  5

###Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [11]:
x1,y1=map(int, input("enter first cordinate: ").split())
x2,y2=map(int, input("enter second cordinate: ").split())
dis = (x2-x1)*2 + (y2-y1)*2
dis

enter first cordinate: 4 6
enter second cordinate: 5 7

4

###Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.
Hint - si = (p * t * r)/100

In [12]:
p = int(input("enter principal value: "))
r = int(input("enter intrest rate: "))
t = int(input("enter time period: "))
print("simple intrest is ", (p*t*r)/100)

enter principal value: 10000
enter intrest rate: 5
enter time period: 6
simple intrest is  3000.0

###Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.
For example: Input: heads -> 4 legs -> 12
Output: dogs -> 2 chicken -> 2

In [ ]:
heads=int(input("enter number of heads: "))
legs = int(input("enter number of legs: "))
for i in range(heads):

###Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.
Hint - Thus, the sum of the squares of first n natural numbers = n(n+1)(2n+1)/6

In [14]:
n=int(input("enter number: "))
sum=n*((n+1)*(2*n+1))/6
sum

enter number: 5

55.0

###Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.
Hint - an = a + (n – 1)d

In [16]:
a=int(input("enter first term: "))
d=int(input("enter diffrence b/w two number: "))
n=int(input("enter number of terms: "))
ans=a+(n-1)*d
ans

enter first term: 5
enter diffrence b/w two number: 2
enter number of terms: 3

9

In [20]:
#another solution is suing itteration
a=int(input("enter first term: "))
d=int(input("enter diffrence b/w two number: "))
n=int(input("enter number of terms: "))
ans=a
for i in range(n-1):
  ans=ans+d
ans

enter first term: 5
enter diffrence b/w two number: 2
enter number of terms: 3

11

###Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [22]:
n1,d1=map(int,input("enter 1st numerator and dinominator value: ").split())
n2,d2=map(int,input("enter 2nd numerator and dinominator value: ").split())
print("sum of those numbers are: ",(n1/d1)+(n2/d2))

enter 1st numerator and dinominator value: 12 6
enter 2nd numerator and dinominator value: 14 7
sum of those numbers are:  4.0

###Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.
Input:
Dimensions of the milk tank
H = 20cm, L = 20cm, B = 20cm

Dimensions of the glass
h = 3cm, r = 1cm

In [23]:
import math

H=int(input("enter height of tank: "))
L=int(input("enter length of tank: "))
W=int(input("enter width of tank: "))

r=int(input("enter redius of glass: "))
h=int(input("enter height of glass: "))

glsv=math.pi*r*r*h
tkv=L*W*H

ans=tkv//glsv
ans

enter height of tank: 20
enter length of tank: 20
enter width of tank: 5
enter redius of glass: 3
enter height of glass: 6

11.0