### `Problem 1` - Print the following pattern. Write a program to use for loop to print the following reverse number pattern.

```bash
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
```

In [1]:
for i in range(5,0,-1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

### `Problem 2`: Print the following pattern.

```bash
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [9]:
for i in range(1,10):
  if i>5:
      for k in range(10-i):
        print("*",end=" ")
  else:
    for k in range(i):
        print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### `Problem 3`:Write a program to pring the following pattern

        *
       * *
      * * *
   * * * * * * *
* * * * * * * * *

In [13]:
row=int(input("enter rows: "))
for i in range(1,row+1):
  print(" "*row,end=" ")
  print("* "*i)
  row-=1

enter rows: 6
       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *

### `Problem 4`:Write a program to print the following pattern

1

2 1

3 2 1

4 3 2 1

5 4 3 2 1

In [15]:
num = int(input("enter number: "))
for i in range(1,num+1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

enter number: 6
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1

### `Problem 5`: Write a Python Program to Find the Sum of the Series till the nth term:<br>
1 + x^2/2 + x^3/3 + â€¦ x^n/n<br>
n will be provided by the user

In [20]:
n = int(input("enter number: "))
x = int(input("enter value of x: "))
sum=0
for i in range(1,n+1):
  sum=sum+x**i/i
  print("x^{}/{} + ".format(i,i),end="")
print()
print(sum)

enter number: 5
enter value of x: 10
x^1/1 + x^2/2 + x^3/3 + x^4/4 + x^5/5 +
22893.333333333332

### `Problem 6`: The natural logarithm can be approximated by the following series.

### `Problem 7` - Find the sum of the series upto n terms.
Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690. Take the user input and then calculate. And the output style should match which is given in the example.

**Example 1:**

`Input:`
```bash
5
```

`Output:`

```bash
2+22+222+2222+22222
Sum of above series is: 24690
```

In [22]:
n = int(input("enter number: "))
sum=0
for i in range(1,n+1):
  newnum=int("2"*i)
  print("{} +".format(newnum),end=" ")
  sum=sum+newnum
print()
print("sum of above series is ",sum)

enter number: 8
2 + 22 + 222 + 2222 + 22222 + 222222 + 2222222 + 22222222 +
sum of above series is  24691356

###`Problem 8`: Write a program to print all the unique combinations of 1,2,3 and 4

`Output`:
```
1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
.
.
and so on
```

In [24]:
for i in range(1,5):
  for j in range(1,5):
    for k in range(1,5):
      for l in range(1,5):
        print(i,j,k,l)

1 1 1 1
1 1 1 2
1 1 1 3
1 1 1 4
1 1 2 1
1 1 2 2
1 1 2 3
1 1 2 4
1 1 3 1
1 1 3 2
1 1 3 3
1 1 3 4
1 1 4 1
1 1 4 2
1 1 4 3
1 1 4 4
1 2 1 1
1 2 1 2
1 2 1 3
1 2 1 4
1 2 2 1
1 2 2 2
1 2 2 3
1 2 2 4
1 2 3 1
1 2 3 2
1 2 3 3
1 2 3 4
1 2 4 1
1 2 4 2
1 2 4 3
1 2 4 4
1 3 1 1
1 3 1 2
1 3 1 3
1 3 1 4
1 3 2 1
1 3 2 2
1 3 2 3
1 3 2 4
1 3 3 1
1 3 3 2
1 3 3 3
1 3 3 4
1 3 4 1
1 3 4 2
1 3 4 3
1 3 4 4
1 4 1 1
1 4 1 2
1 4 1 3
1 4 1 4
1 4 2 1
1 4 2 2
1 4 2 3
1 4 2 4
1 4 3 1
1 4 3 2
1 4 3 3
1 4 3 4
1 4 4 1
1 4 4 2
1 4 4 3
1 4 4 4
2 1 1 1
2 1 1 2
2 1 1 3
2 1 1 4
2 1 2 1
2 1 2 2
2 1 2 3
2 1 2 4
2 1 3 1
2 1 3 2
2 1 3 3
2 1 3 4
2 1 4 1
2 1 4 2
2 1 4 3
2 1 4 4
2 2 1 1
2 2 1 2
2 2 1 3
2 2 1 4
2 2 2 1
2 2 2 2
2 2 2 3
2 2 2 4
2 2 3 1
2 2 3 2
2 2 3 3
2 2 3 4
2 2 4 1
2 2 4 2
2 2 4 3
2 2 4 4
2 3 1 1
2 3 1 2
2 3 1 3
2 3 1 4
2 3 2 1
2 3 2 2
2 3 2 3
2 3 2 4
2 3 3 1
2 3 3 2
2 3 3 3
2 3 3 4
2 3 4 1
2 3 4 2
2 3 4 3
2 3 4 4
2 4 1 1
2 4 1 2
2 4 1 3
2 4 1 4
2 4 2 1
2 4 2 2
2 4 2 3
2 4 2 4
2 4 3 1
2 4 3 2
2 4 3 3
2 4 3 4
2 4 4 1
2 4 4 2
2 4 4 3
2 4 4 4
3 1 1 1
3 1 1 2
3 1 1 3
3 1 1 4
3 1 2 1
3 1 2 2
3 1 2 3
3 1 2 4
3 1 3 1
3 1 3 2
3 1 3 3
3 1 3 4
3 1 4 1
3 1 4 2
3 1 4 3
3 1 4 4
3 2 1 1
3 2 1 2
3 2 1 3
3 2 1 4
3 2 2 1
3 2 2 2
3 2 2 3
3 2 2 4
3 2 3 1
3 2 3 2
3 2 3 3
3 2 3 4
3 2 4 1
3 2 4 2
3 2 4 3
3 2 4 4
3 3 1 1
3 3 1 2
3 3 1 3
3 3 1 4
3 3 2 1
3 3 2 2
3 3 2 3
3 3 2 4
3 3 3 1
3 3 3 2
3 3 3 3
3 3 3 4
3 3 4 1
3 3 4 2
3 3 4 3
3 3 4 4
3 4 1 1
3 4 1 2
3 4 1 3
3 4 1 4
3 4 2 1
3 4 2 2
3 4 2 3
3 4 2 4
3 4 3 1
3 4 3 2
3 4 3 3
3 4 3 4
3 4 4 1
3 4 4 2
3 4 4 3
3 4 4 4
4 1 1 1
4 1 1 2
4 1 1 3
4 1 1 4
4 1 2 1
4 1 2 2
4 1 2 3
4 1 2 4
4 1 3 1
4 1 3 2
4 1 3 3
4 1 3 4
4 1 4 1
4 1 4 2
4 1 4 3
4 1 4 4
4 2 1 1
4 2 1 2
4 2 1 3
4 2 1 4
4 2 2 1
4 2 2 2
4 2 2 3
4 2 2 4
4 2 3 1
4 2 3 2
4 2 3 3
4 2 3 4
4 2 4 1
4 2 4 2
4 2 4 3
4 2 4 4
4 3 1 1
4 3 1 2
4 3 1 3
4 3 1 4
4 3 2 1
4 3 2 2
4 3 2 3
4 3 2 4
4 3 3 1
4 3 3 2
4 3 3 3
4 3 3 4
4 3 4 1
4 3 4 2
4 3 4 3
4 3 4 4
4 4 1 1
4 4 1 2
4 4 1 3
4 4 1 4
4 4 2 1
4 4 2 2
4 4 2 3
4 4 2 4
4 4 3 1
4 4 3 2
4 4 3 3
4 4 3 4
4 4 4 1
4 4 4 2
4 4 4 3
4 4 4 4

###`Problem 9`: Write a program that will take a decimal number as input and prints out the binary equivalent of the number

In [42]:
n = int(input("enter decimal number: "))
bin=""
while(n>0):
  bin+=str(n%2)
  n=n//2
print(bin[::-1])

enter decimal number: 10
1010

###`Problem 10`: Write a program that will take 2 numbers as input and prints the LCM and HCF of those 2 numbers

### **Problem 11:** Create Short Form from initial character
Given a string create short form ofthe string from Initial character. Short form should be capitalised.

Example:

`Input:`
```
Data science mentorship program
```

`Output:`
```
DSMP
```

In [1]:
s=input("enter string: ").split()
new=""
for i in s:
  new+=i[0].upper()
print(new)

enter string: Data science mentorship program
DSMP

###`Problem 12`: Append second string in the middle of first string

`Input:`
```
campusx
data
```
`Output`:

```
camdatapusx
```

In [2]:
a=input("enter first string: ")
b=input("enter second string: ")
m=len(a)//2
newstr=a[:m]+b+a[m:]
print(newstr)

enter first string: campusx
enter second string: data
camdatapusx

### ``Problem 13``:Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.

Given:

`str1 = PyNaTive`

Expected Output:

`yaivePNT`

In [6]:
st=input("enter string: ")
upper=""
newstr=""
for i in st:
  if i.isupper():
    upper+=i
  else:
    newstr+=i
print(newstr+upper)

enter string: SuRajKushWAha
uajushhaSRKWA

### `Problem 14:`Take a alphanumeric string input and print the sum and average of the digits that appear in the string, ignoring all other characters.

Input:

`hel123O4every093`

Output:

```
Sum: 22
Avg: 2.75
```

In [12]:
data=input("enter alphanumeric value: ")
sum=0
count=0
for i in data:
  if i.isnumeric():
    count+=1
    sum=sum+int(i)

print("sum is ",sum)
print("average is ",sum/count)

enter alphanumeric value: hel123O4every093
sum is  22
average is  3.142857142857143

### `Problem 15:` Removal of all characters from a string except integers
`Given:`

```
str1 = 'I am 25 years and 10 months old'
```
`Expected Output:`
```
2510
```

In [13]:
str1=input("enter string: ")
newnum=""
for i in str1:
  if i.isnumeric():
    newnum+=i
print(newnum)

enter string: I am 25 years and 10 months old
2510

### `Problem 16`: Check whether the string is Symmetrical.

**Statement:** Given a string. the task is to check if the string is symmetrical or not. A string is said to be symmetrical if both the halves of the string are the same.

**Example 1:**

`Input`

```bash
khokho
```

`Output`

```bash
The entered string is symmetrical
```

In [17]:
str1=input("enter string: ")
m=len(str1)//2
if str1[:m]==str1[m:]:
  print("given string is symetrical")
else:
  print("given string is not symetrical")

enter string: khokho
given string is symetrical

### `Problem 17`: Reverse words in a given String

**Statement:** We are given a string and we need to reverse words of a given string.

**Example 1:**

`Input:`

```bash
geeks quiz practice code
```

`Output:`

```bash
code practice quiz geeks
```

**Example 2:**

`Input:`

```bash
my name is laxmi
```

`Output:`

```bash
laxmi is name my
```

In [19]:
x=input("enter string: ").split()
for i in x[::-1]:
  print(i,end=" ")

enter string: my name is suraj
suraj is name my

### `Problem 18`: Find uncommon words from two Strings.

**Statement:** Given two sentences as strings **A** and **B**. The task is to return a list of all uncommon words. A word is uncommon if it appears exactly once in any one of the sentences, and does not appear in the other sentence. Note: A sentence is a string of space-separated words. Each word consists only of lowercase letters.

**Example 1:**

`Input:`

```bash
A = "apple banana mango"
B = "banana fruits mango"
```

`Output:`

```bash
['apple', 'fruits']
```

In [22]:
str1=input("enter string 1: ").split()
str2=input("enter string 2: ").split()
newlist=[]
for i in str1:
  if i not in str2:
    newlist.append(i)
for i in str2:
  if i not in str1:
    newlist.append(i)
print(newlist)

enter string 1: banana mango apple
enter string 2: fruit banana apple
['mango', 'fruit']

### `Problem 19`: Word location in String.

**Statement:** Find a location of a word in a given sentence.

**Example 1:**

`Input:`

```bash
Sentence: We can learn data science through campusx mentorship program.

word: campusx
```

`Output:`

```bash
Location of the word is 7.
```

Note- Don't use index/find functions

In [26]:
sentence=input("enter sentance: ").split()
word=input("enter word")
print(sentence.index(word)+1)

enter sentance: suraj is my  name and from bihar
enter wordfrom
5

### `Problem 20`: Write a program that can remove all the duplicate characters from a string. User will provide the input.